<div id="project" class="container">
    <div ng-if="!show">
        <h2> {{ message }} </h2>
    </div>
    <div ng-if="show">
        <h2>Projects</h2>
        <div ng-if="projects.length == 0">
            
        </div>
        <div class="text-box" ng-if="projects.length > 0">
            <p>Here are some of my projects I've made, most for school, but I'm starting to compensate by doing some for my own pleasure.</p>
            <p>My main languages are C, JavaScript and Python and my main areas of work are full-stack web development and distributed systems.</p>
        </div>
        <ul class="media-list">
             <li class="media" ng-repeat="project in projects">
                 <hr/>
                 <div class="media-middle">
                     <a ui-sref="app.projects.detail({slug: project.slug})">
                         <h2 class="media-heading"> {{ project.title }} </h2>
                     </a>
                 </div>
                 <div class="media-left" ng-show="{{ project.img != null }}">
                     <img class="project-main-image" ng-src="{{ project.img.url }}" alt="{{ project.img.alt }}">
                 </div>
                 <div class="media-body text-box"> <!--media-body-->
                     <p>{{ project.description }}</p>
                 </div>
             </li>
         </ul>
     </div>
</div>