<div class="container" id="album-detail">
    <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.music.albums">
        Back
    </button>
    <div ng-if="error">
        <h2>{{ error }}</h2>
    </div>
    <h2 ng-if="loading">Loading...</h2>
    <div ng-if="!error && !loading">
        <h2>{{ album.title }}</h2>
        <h4>Tracks: </h4>
        <ol>
            <li ng-repeat="track in album.tracks">
                <a ui-sref="app.music.tracks.details({id: track._id})">{{ track.title }}</a>
            </li>
        </ol>
    </div>
</div>