<div id="music" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Music</h2>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showMusic">
                <h3>{{message}}</h3>
            </div>
        <div class="col-xs-12" ng-if="showMusic">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected('app.music')}">
                    <a ng-click="select('app.music')" aria-controls="music" role="tab">Music</a>
                <li role="presentation" ng-class="{active:isSelected('app.music.artists')}">
                    <a ng-click="select('app.music.artists'); getArtists()" aria-controls="artists" role="tab">Artists</a>
                </li>
                </li>
                <li role="presentation" ng-class="{active:isSelected('app.music.bands')}">
                    <a ng-click="select('app.music.bands'); getBands()" aria-controls="bands" role="tab">Bands</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected('app.music.albums')}">
                    <a ng-click="select('app.music.albums'); getAlbums()" aria-controls="albums" role="tab">Albums</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected('app.music.tracks')}">
                    <a ng-click="select('app.music.tracks'); getTracks()" aria-controls="tracks" role="tab">Tracks</a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <div ui-view="musicContent"></div>
                </ul>
            </div>
        </div>
    </div>
</div>